.image {
	width: 400px;
	transition: all 0.2s ease;
	margin: 0.75em;
}

.image:hover {
	cursor: pointer;
	transform: scale(1.01);
}

@media screen and (max-width: 1200px) {
	.image-mobile-grid {
		width: 280px;
	}
}

@media screen and (max-width: 991px) {
	.image-mobile-grid {
		width: 200px;
	}
}

@media screen and (max-width: 768px) {
	.image-mobile-grid {
		width: 250px;
	}
}

@media screen and (max-width: 576px) {
	.image-mobile-grid {
		width: 200px;
		margin: 0.35em;
	}
}

@media screen and (max-width: 450px) {
	.image-mobile-grid {
		width: 135px;
		margin: 0.1em;
	}
}
