.container {
	width: 80%;
	margin-top: 1em;
}

.header-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.image-container {
	margin: 1em auto;
	width: 100%;
}

.profile-picture-container {
	padding: 1em;
}

.profile-picture {
	border-radius: 50%;
}

.back {
	text-align: right;
}

.user-information {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-text {
	margin: 0.25em 0;
}

.photo-views {
	text-align: right;
}
