.container {
	width: 80%;
}

.image {
	width: 100%;
}

.profile-picture-container {
	padding: 1em;
}

.profile-picture {
	border-radius: 50%;
}

.back {
	text-align: right;
}

.user-information {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.photo-amount {
	margin: 0;
}
